body {
    width: auto;
    height: auto;
    background-image: url(/style/images/1673468859519008large.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}

a {
    text-decoration: none;
    
    a:link {
        text-decoration: none;
    }
    
    a:visited {
        text-decoration: none;
    }
}

#lien {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 16px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#button {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 30px;
    width: 700px;
    height: 300px;
    justify-content: center;
    align-items: center;
}

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    text-decoration: none;
    font-family: inherit;
    width: 220px;
   }
   
   button.learn-more {
    font-weight: 600;
    color: #382b22;
    font-family: 'Dancing Script', cursive;
    // text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    padding: 0.5em 2em;
    background: #fff0f0;
    border: 2px solid #b18597;
    border-radius: 0.75em;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
   }
   
   button.learn-more::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f9c4d2;
    border-radius: inherit;
    -webkit-box-shadow: 0 0 0 2px #b18597;
    box-shadow: 0 0 0 2px #b18597;
    -webkit-transform: translate3d(0, 0.75em, -1em);
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
   }
   
   button.learn-more:hover {
    background: #ffe9e9;
    -webkit-transform: translate(0, 0.25em);
    transform: translate(0, 0.25em);
   }
   
   button.learn-more:hover::before {
    -webkit-box-shadow: 0 0 0 2px #b18597;
    box-shadow: 0 0 0 2px #b18597;
    -webkit-transform: translate3d(0, 0.5em, -1em);
    transform: translate3d(0, 0.5em, -1em);
   }
   
   button.learn-more:active {
    background: #ffe9e9;
    -webkit-transform: translate(0em, 0.75em);
    transform: translate(0em, 0.75em);
   }
   
   button.learn-more:active::before {
    -webkit-box-shadow: 0 0 0 2px #b18597;
    box-shadow: 0 0 0 2px #b18597;
    -webkit-transform: translate3d(0, 0, -1em);
    transform: translate3d(0, 0, -1em);
   }

   .input__email {
    width: 646px;
    padding: 15px 18px;
    font-size: 16px;
    font-family: inherit;
    border: 2px solid #b18597;
    border-radius: 20px;
    background-color: #fff0f0;
  }
  
  .input__email::placeholder {
    color: #ce9797;
    font-size: 20px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
  }
  
  .input__email:focus {
    outline: none;
    border: 2px solid #b18597;
  }
  
  .animation-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  /* Config */
$color-bg: #111;
$color-particle: #fff;
$spacing: 3440px;
$time-1: 60s;
$time-2: 120s;
$time-3: 180s;
$time-4: 600s;

/* Pauls awesome mixin */
@function particles($max) {
   $val: 0px 0px $color-particle;
   @for $i from 1 through $max {
      $val: #{$val},
      random($spacing)+px random($spacing)+px $color-particle;
   }
   @return $val;
}

@mixin particles($max) {
   box-shadow: particles($max);
}
  
  .particle,
  .particle:after {
    background: transparent;
  }
  
  .particle:after {
    position: absolute;
    content: "";
    top: $spacing;
  }
  
  .particle-1 {
    animation: animParticle $time-1 linear infinite;
    @include particles(600);
    height: 1px;
    width: 1px;
  }
  
  .particle-1:after {
    @include particles(600);
    height: 1px;
    width: 1px;
  }
  
  .particle-2 {
    animation: animParticle $time-2 linear infinite;
    @include particles(200);
    height: 2px;
    width: 2px;
  }
  
  .particle-2:after {
    @include particles(200);
    height: 2px;
    width: 2px;
  }
  
  .particle-3 {
    animation: animParticle $time-3 linear infinite;
    @include particles(100);
    height: 3px;
    width: 3px;
  }
  
  .particle-3:after {
    @include particles(100);
    height: 3px;
    width: 3px;
  }
  
  .particle-4 {
    animation: animParticle $time-4 linear infinite;
    @include particles(400);
    height: 1px;
    width: 1px;
  }
  
  .particle-4:after {
    @include particles(400);
    height: 1px;
    width: 1px;
  }
  
  @keyframes animParticle {
    from { transform: translateY(0px); }
    to   { transform: translateY($spacing * -1); }
  }