body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.container {
  text-align: center;
}

.books-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.book {
  width: 100px;
  height: 150px;
  background-color: #bd8509;
  margin: 0 10px;
  transform-origin: bottom;
  transition: transform 0.5s;
}

.book:hover {
  transform: perspective(500px) rotateX(20deg);
}

.home-link {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.home-link:hover {
  background-color: #2980b9;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.sectionfooter a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.sectionfooter a:hover {
  text-decoration: underline;
}